body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

html {
    background-color: #9ccef4;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 0.8;
}

.app {
    transition: background-color 1s ease-in;
    background-color: #9ccef4;
}

.app_header {
    padding: 20px;
    background-color: #6c94c9;
}

.app_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.input_search {
    font-family: "Raleway";
    border: 0px solid #cccccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: transparent;
    outline: 0;
    color: white;
    padding: 15px;
    padding-left: 0px;
    opacity: 0.8;
}

.search_button {
    background-color: #5879c7;
    border: none;
    color: #2c3975;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: 100px;
    font-family: "Raleway";
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.temperature,
.pressure {
    color: #2c3975;
    width: 300px;
    padding-top: 10px;
}

.allday {
    display: flex;
    text-align: center;
    color: #2c3975;
    justify-content: space-around;
    width: 75%;
}

.allday div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 15px;
}

@media screen and (max-width: 992px) {
    .allday {
        flex-wrap: wrap;
    }

    .search_button {
        margin: 0;
    }

    .app_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
/*  Search bar */

/* Current weather */
